<?xml version="1.0"?>
<config>
    <size w="1185" h="700"/>
    <background>img/extended_hockey.jpg</background>
    <fonts>
        <font name="font_tech" index="4" size="85" bold="True"/>
        <font name="font_score" index="4" size="25" bold="False"/>
        <font name="font_name" index="10" size="15" bold="True"/>
    </fonts>
    <colors>
        <color name="black" r="0" g="0" b="0"/>
        <color name="white" r="255" g="255" b="255"/>
        <color name="blue" r="0" g="0" b="255"/>
        <color name="green" r="0" g="255" b="0"/>
        <color name="red" r="255" g="0" b="0"/>
        <color name="color_name" r="0" g="0" b="0"/>
        <color name="color_score" r="0" g="0" b="0"/>
        <color name="color_tech" r="0" g="100" b="0"/>
    </colors>

    <images>
        <image name="ball_skin" w="20" h="20">img/we.png</image>
        <image name="first_team_skin" w="60" h="60">img/h3.png</image>
        <image name="second_team_skin" w="60" h="60">img/h4.png</image>
        <image name="tech_error_logo" w="400" h="400">img/tech.jpg</image>
        <image name="final_logo" w="300" h="300">img/final.png</image>
    </images>

    <score_label x="470" y="5"/>
    <time_label x="1000" y="5"/>
    <final_logo x="410" y="150"/>
    <final_score x="185" y="450"/>

    <score_pattern> === {0} :: {1} === </score_pattern>

    <time_tick>20</time_tick>
    <score_print_delay>5</score_print_delay>
    <name_vertical_shift>20</name_vertical_shift>

</config>